body
{
    background-color: #003A7D;
    margin: 0px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input.textinput
{
    vertical-align:middle;
	border-style: solid;
	border-width: 1px;
	border-color: #003A7D;
    font-size: 12px;
    font-weight:normal;
    
}

img.yes
{
    vertical-align:middle;
    overflow: auto;
    width: 16px;
    height: 16px;
    background:url('resources/tick_cross_icon.gif') 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #BDCBDE;
}
img.yes:hover 
{
    border-color: #003A7D;
}

img.no
{
    vertical-align:middle;
    overflow: auto;
    width: 16px;
    height: 16px;
    background:url('resources/tick_cross_icon.gif') -15px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #BDCBDE;
}

img.no:hover
{
    border-color: #003A7D;
}

.nobordertable
{
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 12px;
}

.titlestyle
{
    text-align: center;
    width: 83%;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

span
{
    font-weight:normal;
}

